header {
	background-color: #333;
	color: #fff;
	padding: 20px;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav li:last-child {
	margin-right: 0;
}

nav a {
	color: #fff;
	text-decoration: none;
}

article {
	margin-bottom: 40px;
}

article h2 {
	font-size: 24px;
	margin-bottom: 10px;
}

article p {
	line-height: 1.5;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}